{% extends "layout.html" %}

{% block page_title %}
  Shutter pages
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Shutter pages</h1>
        
        
      <a href="outage" class="font-medium" style="padding:20px 0px; margin-bottom:40px; display:block; border-top: 2px solid #ccc;  border-bottom: 2px solid #ccc;">New concepts</a>

      <p>
        <a href="originals/">Pages from puppet as of 9am on 22 March 2016</a>
      </p>

      <p>
        <a href="suggestions/">Suggestions</a>
      </p>
	  
	  
			
    </div>

  </div>
</main>

{% endblock %}


